In [2]:
import pandas as pd
import numpy as np

In [16]:
dfD = pd.read_csv('/home/gsociety/Desktop/The Model/STORAGE/liveDataN.csv')

In [17]:
dfD.head()

,1,2,X,HT1,HT2,HTX,FS (0:0),FS(0:0)2,FS(0:0)X,TEAMSd,...,G(0.5)U,G(1.5)O,G(1.5)U,G(2.5)O,G(2.5)U,G(3.5)O,G(3.5)U,G(4.5)O,G(4.5)U,timestamp
0,4.65,1.75,3.75,5.00,2.00,2.65,2.70,1.55,14.0,VFL EDINBURGH VFL LISBON,...,0.0,1.25,3.60,1.85,1.85,3.35,1.30,0.0,0.0,2018-07-20 21:58:20.153454
1,4.55,1.95,3.10,5.50,2.35,2.10,3.00,1.70,6.5,VFL COPENHAGEN VFL ROME,...,0.0,1.55,2.35,2.65,1.40,5.00,1.14,0.0,0.0,2018-07-20 21:58:20.154115
2,4.55,1.85,3.45,4.45,2.25,2.45,2.95,1.55,10.5,VFL VIENNA VFL OSLO,...,0.0,1.35,3.00,2.10,1.65,3.95,1.20,0.0,0.0,2018-07-20 21:58:20.154746
3,3.80,1.80,4.25,3.55,2.30,2.75,2.35,1.60,29.0,VFL STOCKHOLM VFL LONDON,...,0.0,0.00,0.00,1.45,2.55,2.30,1.55,4.1,1.2,2018-07-20 21:58:20.155387
4,4.95,1.65,4.20,5.75,1.85,2.70,3.05,1.40,21.0,VFL ANKARA VFL MADRID,...,0.0,1.16,4.50,1.60,2.25,2.70,1.40,0.0,0.0,2018-07-20 21:58:20.156076

In [14]:
dfR = pd.read_csv('/home/gsociety/Desktop/The Model/STORAGE/resultDataRR.csv')

In [22]:
dfR.head()

            TIMER                         TEAMSr  HTR  FTR
0  21/07/18 03:24  VFL Copenhagen  -  VFL London  0:0  0:1
1  21/07/18 03:24      VFL Lisbon  -  VFL Berlin  2:0  3:2
2  21/07/18 03:24        VFL Vienna  -  VFL Oslo  0:1  0:3
3  21/07/18 03:24   VFL Amsterdam  -  VFL Ankara  3:0  6:0
4  21/07/18 03:24        VFL Athens  -  VFL Rome  1:2  1:3

In [21]:
pd.merge(dfD,dfR)

MergeError: No common columns to perform merge on

In [1]:
st='28/07/2018'

In [5]:
stR=st.

TypeError: if you give only one argument to maketrans it must be a dict

In [3]:
stR

'28/07/2018'