In [2]:
import numpy as np
import pandas as pd   

df1= pd.read_csv('/home/gsociety/Desktop/The Model/STORAGE/ProcessedDATAZ.csv')# read csv at a specified location into a DataFrame
df1

,TC,HOMECODE,AWAYCODE,TIMEr,HTR,FTR,HT_home_goals,HT_away_goals,FT_home_goals,FT_away_goals,...,G(0.5)O,G(0.5)U,G(1.5)O,G(1.5)U,G(2.5)O,G(2.5)U,G(3.5)O,G(3.5)U,G(4.5)O,G(4.5)U
0,ATHENS COPENHAGEN,10,12,23:02,0:2,1:3,0,2,1,3,...,0.0,6.75,1.60,2.20,0.00,1.40,0.00,0.00,0.00,0.00
1,LISBON OSLO,7,6,23:02,2:0,2:0,2,0,2,0,...,0.0,0.00,1.40,2.65,2.40,1.50,4.45,1.18,0.00,0.00
2,PARIS AMSTERDAM,8,2,23:02,2:1,2:2,2,1,2,2,...,0.0,0.00,1.25,3.60,1.75,2.00,3.05,1.35,0.00,0.00
3,LONDON VIENNA,4,13,23:02,0:1,2:1,0,1,2,1,...,0.0,0.00,1.22,3.80,1.90,1.85,3.20,1.30,0.00,0.00
4,ANKARA EDINBURGH,14,15,23:02,2:0,2:1,2,0,2,1,...,0.0,0.00,1.35,2.90,2.00,1.70,3.55,1.25,0.00,0.00
5,MADRID BERLIN,1,3,23:02,1:0,2:0,1,0,2,0,...,0.0,0.00,1.18,4.30,1.50,2.40,2.50,1.45,0.00,0.00
6,BERN ROME,16,5,23:02,0:1,0:3,0,1,0,3,...,0.0,0.00,1.35,2.95,2.05,1.70,3.50,1.25,0.00,0.00
7,BRUSSELS STOCKHOLM,9,11,23:02,1:1,4:2,1,1,4,2,...,0.0,0.00,1.35,2.85,2.05,1.70,3.65,1.25,0.00,0.00
8,PARIS MADRID,8,1,23:07,0:0,0:1,0,0,0,1,...,0.0,0.00,0.00,0.00,1.45,2.60,2.25,1.60,4.15,1.20
9,BERLIN ANKARA,3,14,23:07,0:1,2:1,0,1,2,1,...,0.0,0.00,1.22,3.80,1.70,2.05,2.95,1.35,0.00,0.00
10,EDINBURGH LONDON,15,4,23:07,0:0,0:0,0,0,0,0,...,0.0,0.00,1.18,4.20,1.60,2.15,2.40,1.50,0.00,0.00
11,AMSTERDAM COPENHAGEN,2,12,23:07,2:0,3:0,2,0,3,0,...,0.0,0.00,1.45,2.55,2.10,1.65,3.90,1.22,0.00,0.00
12,STOCKHOLM BERN,11,16,23:07,1:2,1:3,1,2,1,3,...,0.0,0.00,1.20,4.15,1.65,2.10,2.75,1.40,0.00,0.00
13,VIENNA LISBON,13,7,23:07,1:1,1:2,1,1,1,2,...,0.0,0.00,1.55,2.30,2.65,1.40,5.25,1.12,0.00,0.00
14,ROME ATHENS,5,10,23:07,1:0,1:0,1,0,1,0,...,0.0,0.00,1.20,4.00,1.65,2.10,2.85,1.35,0.00,0.00
15,OSLO BRUSSELS,6,9,23:07,1:0,1:0,1,0,1,0,...,0.0,0.00,1.45,2.60,2.45,1.50,4.75,1.15,0.00,0.00
16,ANKARA PARIS,14,8,23:11,2:2,2:3,2,2,2,3,...,0.0,0.00,1.25,3.60,1.75,2.00,2.75,1.40,0.00,0.00
17,LONDON BERLIN,4,3,23:11,0:0,2:0,0,0,2,0,...,0.0,0.00,1.22,3.85,1.70,2.05,2.70,1.40,0.00,0.00
18,BERN OSLO,16,6,23:11,1:0,1:2,1,0,1,2,...,0.0,0.00,1.30,3.15,2.00,1.70,3.45,1.25,0.00,0.00
19,ATHENS STOCKHOLM,10,11,23:11,3:0,5:1,3,0,5,1,...,0.0,0.00,1.25,3.60,1.75,1.95,2.85,1.40,0.00,0.00
20,MADRID AMSTERDAM,1,2,23:11,1:0,3:2,1,0,3,2,...,0.0,0.00,0.00,0.00,1.50,2.45,2.40,1.50,4.40,1.18
21,LISBON EDINBURGH,7,15,23:11,0:0,2:1,0,0,2,1,...,0.0,0.00,1.25,3.45,1.90,1.80,3.35,1.30,0.00,0.00
22,BRUSSELS VIENNA,9,13,23:11,0:1,0:3,0,1,0,3,...,0.0,0.00,1.55,2.30,2.65,1.40,5.00,1.14,0.00,0.00
23,COPENHAGEN ROME,12,5,23:11,0:1,0:1,0,1,0,1,...,0.0,0.00,1.55,2.30,2.60,1.45,4.90,1.14,0.00,0.00
24,VIENNA BERN,13,16,23:16,1:2,2:4,1,2,2,4,...,0.0,0.00,1.50,2.40,2.55,1.45,4.90,1.14,0.00,0.00
25,PARIS LONDON,8,4,23:16,1:1,1:2,1,1,1,2,...,0.0,0.00,0.00,0.00,1.60,2.25,2.40,1.50,4.30,1.18
26,BERLIN LISBON,3,7,23:16,0:0,0:1,0,0,0,1,...,0.0,0.00,1.35,2.85,2.15,1.60,3.80,1.22,0.00,0.00
27,STOCKHOLM COPENHAGEN,11,12,23:16,0:0,0:0,0,0,0,0,...,0.0,0.00,1.35,3.00,2.20,1.60,4.00,1.20,0.00,0.00
28,MADRID ANKARA,1,14,23:16,4:0,6:0,4,0,6,0,...,0.0,0.00,0.00,0.00,1.60,2.20,2.40,1.50,4.40,1.18
29,AMSTERDAM ROME,2,5,23:16,2:0,2:0,2,0,2,0,...,0.0,0.00,1.20,4.10,1.70,2.05,2.65,1.40,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8289,LONDON MADRID,4,1,03:04,0:0,2:1,0,0,2,1,...,0.0,0.00,0.00,0.00,1.45,2.55,2.30,1.55,3.90,1.22
8290,COPENHAGEN ROME,12,5,03:04,0:0,0:0,0,0,0,0,...,0.0,0.00,1.55,2.30,2.60,1.45,4.95,1.14,0.00,0.00
8291,OSLO VIENNA,6,13,03:04,1:1,2:2,1,1,2,2,...,0.0,0.00,1.25,3.50,1.90,1.80,3.55,1.25,0.00,0.00
8292,STOCKHOLM BRUSSELS,11,9,03:04,2:1,3:1,2,1,3,1,...,0.0,0.00,1.40,2.80,2.10,1.65,4.30,1.18,0.00,0.00
8293,BERN AMSTERDAM,16,2,03:04,0:0,0:3,0,0,0,3,...,0.0,0.00,1.30,3.15,1.95,1.75,3.65,1.25,0.00,0.00
8294,ATHENS LISBON,10,7,03:04,0:0,1:1,0,0,1,1,...,0.0,0.00,1.40,2.65,2.30,1.55,4.55,1.16,0.00,0.00
8295,LISBON LONDON,7,4,03:09,0:1,0:3,0,1,0,3,...,0.0,0.00,1.35,3.05,2.05,1.70,3.40,1.25,0.00,0.00
8296,MADRID OSLO,1,6,03:09,0:1,1:2,0,1,1,2,...,0.0,0.00,0.00,0.00,1.55,2.30,2.40,1.50,4.05,1.20
8297,BERN EDINBURGH,16,15,03:09,1:1,1:2,1,1,1,2,...,0.0,0.00,1.35,3.05,2.20,1.60,3.75,1.22,0.00,0.00
8298,VIENNA STOCKHOLM,13,11,03:09,0:1,0:1,0,1,0,1,...,0.0,0.00,1.35,3.05,2.05,1.70,3.35,1.30,0.00,0.00
8299,ANKARA PARIS,14,8,03:09,0:0,1:1,0,0,1,1,...,0.0,0.00,1.22,3.80,1.70,2.05,2.75,1.40,0.00,0.00
8300,AMSTERDAM ROME,2,5,03:09,3:0,3:1,3,0,3,1,...,0.0,0.00,1.22,3.90,1.70,2.05,2.65,1.40,0.00,0.00
8301,BRUSSELS COPENHAGEN,9,12,03:09,1:0,1:0,1,0,1,0,...,0.0,5.75,1.85,1.85,0.00,1.22,0.00,0.00,0.00,0.00
8302,BERLIN ATHENS,3,10,03:09,0:1,2:2,0,1,2,2,...,0.0,0.00,1.30,3.30,1.95,1.75,3.45,1.25,0.00,0.00
8303,COPENHAGEN VIENNA,12,13,03:13,1:0,2:0,1,0,2,0,...,0.0,6.75,1.75,1.95,0.00,1.30,0.00,0.00,0.00,0.00
8304,LONDON BERLIN,4,3,03:13,1:1,1:2,1,1,1,2,...,0.0,0.00,1.22,3.85,1.70,2.05,2.80,1.40,0.00,0.00
8305,ROME BRUSSELS,5,9,03:13,1:1,2:1,1,1,2,1,...,0.0,0.00,1.30,3.10,2.10,1.65,3.85,1.22,0.00,0.00
8306,EDINBURGH AMSTERDAM,15,2,03:13,0:0,0:2,0,0,0,2,...,0.0,0.00,1.25,3.65,1.70,2.00,2.90,1.35,0.00,0.00
8307,STOCKHOLM MADRID,11,1,03:13,0:1,0:1,0,1,0,1,...,0.0,0.00,0.00,0.00,1.40,2.75,2.05,1.70,3.35,1.30
8308,OSLO LISBON,6,7,03:13,0:2,2:3,0,2,2,3,...,0.0,0.00,1.40,2.75,2.10,1.65,3.65,1.25,0.00,0.00
8309,PARIS BERN,8,16,03:13,1:0,1:0,1,0,1,0,...,0.0,0.00,1.22,3.85,1.85,1.90,3.10,1.30,0.00,0.00
8310,ATHENS ANKARA,10,14,03:13,0:0,0:0,0,0,0,0,...,0.0,0.00,1.35,2.90,2.10,1.65,3.70,1.25,0.00,0.00
8311,BERN ATHENS,16,10,03:18,0:1,0:2,0,1,0,2,...,0.0,0.00,1.50,2.50,2.55,1.45,4.85,1.15,0.00,0.00
8312,BERLIN OSLO,3,6,03:18,0:0,1:0,0,0,1,0,...,0.0,0.00,1.30,3.15,2.00,1.75,3.75,1.22,0.00,0.00
8313,VIENNA ROME,13,5,03:18,0:1,0:2,0,1,0,2,...,0.0,0.00,1.35,3.00,2.00,1.70,3.95,1.22,0.00,0.00
8314,EDINBURGH PARIS,15,8,03:18,0:2,1:2,0,2,1,2,...,0.0,0.00,1.22,3.80,1.70,2.05,2.75,1.40,0.00,0.00
8315,LISBON STOCKHOLM,7,11,03:18,0:0,2:0,0,0,2,0,...,0.0,0.00,1.25,3.70,1.80,1.95,2.85,1.35,0.00,0.00
8316,MADRID COPENHAGEN,1,12,03:18,1:0,1:0,1,0,1,0,...,0.0,0.00,1.25,3.70,1.80,1.95,2.95,1.35,0.00,0.00
8317,AMSTERDAM BRUSSELS,2,9,03:18,2:0,2:0,2,0,2,0,...,0.0,0.00,1.45,2.55,2.30,1.55,3.75,1.22,0.00,0.00
8318,ANKARA LONDON,14,4,03:18,0:1,1:1,0,1,1,1,...,0.0,0.00,1.18,4.40,1.70,2.05,2.85,1.35,0.00,0.00

In [3]:
###### Funtion that input  all goal;s DF column and create other return a list of 0, and 1s on whether goals are over n value or not
def over_under(ps,n):
    lp=[]
    for x in ps:
        h=x.replace(':','  ')[:1]
        a=x.replace(':','  ')[1:]
        # if goals sum is greater than n value is 1
        
        if (float(h) + float(a)) > float(n):
            lp.append(1)

        else:
            #means it is under n eg under 2.5
            lp.append(0)

    return pd.Series(lp)

In [4]:
df1['FT_Goals']=pd.Series([str(x).replace(':','  ')[:] for x in df1.FTR]) # ADD FT_Goals COLUMMN by using processed existing FTR column
df1

,TC,HOMECODE,AWAYCODE,TIMEr,HTR,FTR,HT_home_goals,HT_away_goals,FT_home_goals,FT_away_goals,...,G(0.5)U,G(1.5)O,G(1.5)U,G(2.5)O,G(2.5)U,G(3.5)O,G(3.5)U,G(4.5)O,G(4.5)U,FT_Goals
0,ATHENS COPENHAGEN,10,12,23:02,0:2,1:3,0,2,1,3,...,6.75,1.60,2.20,0.00,1.40,0.00,0.00,0.00,0.00,1 3
1,LISBON OSLO,7,6,23:02,2:0,2:0,2,0,2,0,...,0.00,1.40,2.65,2.40,1.50,4.45,1.18,0.00,0.00,2 0
2,PARIS AMSTERDAM,8,2,23:02,2:1,2:2,2,1,2,2,...,0.00,1.25,3.60,1.75,2.00,3.05,1.35,0.00,0.00,2 2
3,LONDON VIENNA,4,13,23:02,0:1,2:1,0,1,2,1,...,0.00,1.22,3.80,1.90,1.85,3.20,1.30,0.00,0.00,2 1
4,ANKARA EDINBURGH,14,15,23:02,2:0,2:1,2,0,2,1,...,0.00,1.35,2.90,2.00,1.70,3.55,1.25,0.00,0.00,2 1
5,MADRID BERLIN,1,3,23:02,1:0,2:0,1,0,2,0,...,0.00,1.18,4.30,1.50,2.40,2.50,1.45,0.00,0.00,2 0
6,BERN ROME,16,5,23:02,0:1,0:3,0,1,0,3,...,0.00,1.35,2.95,2.05,1.70,3.50,1.25,0.00,0.00,0 3
7,BRUSSELS STOCKHOLM,9,11,23:02,1:1,4:2,1,1,4,2,...,0.00,1.35,2.85,2.05,1.70,3.65,1.25,0.00,0.00,4 2
8,PARIS MADRID,8,1,23:07,0:0,0:1,0,0,0,1,...,0.00,0.00,0.00,1.45,2.60,2.25,1.60,4.15,1.20,0 1
9,BERLIN ANKARA,3,14,23:07,0:1,2:1,0,1,2,1,...,0.00,1.22,3.80,1.70,2.05,2.95,1.35,0.00,0.00,2 1
10,EDINBURGH LONDON,15,4,23:07,0:0,0:0,0,0,0,0,...,0.00,1.18,4.20,1.60,2.15,2.40,1.50,0.00,0.00,0 0
11,AMSTERDAM COPENHAGEN,2,12,23:07,2:0,3:0,2,0,3,0,...,0.00,1.45,2.55,2.10,1.65,3.90,1.22,0.00,0.00,3 0
12,STOCKHOLM BERN,11,16,23:07,1:2,1:3,1,2,1,3,...,0.00,1.20,4.15,1.65,2.10,2.75,1.40,0.00,0.00,1 3
13,VIENNA LISBON,13,7,23:07,1:1,1:2,1,1,1,2,...,0.00,1.55,2.30,2.65,1.40,5.25,1.12,0.00,0.00,1 2
14,ROME ATHENS,5,10,23:07,1:0,1:0,1,0,1,0,...,0.00,1.20,4.00,1.65,2.10,2.85,1.35,0.00,0.00,1 0
15,OSLO BRUSSELS,6,9,23:07,1:0,1:0,1,0,1,0,...,0.00,1.45,2.60,2.45,1.50,4.75,1.15,0.00,0.00,1 0
16,ANKARA PARIS,14,8,23:11,2:2,2:3,2,2,2,3,...,0.00,1.25,3.60,1.75,2.00,2.75,1.40,0.00,0.00,2 3
17,LONDON BERLIN,4,3,23:11,0:0,2:0,0,0,2,0,...,0.00,1.22,3.85,1.70,2.05,2.70,1.40,0.00,0.00,2 0
18,BERN OSLO,16,6,23:11,1:0,1:2,1,0,1,2,...,0.00,1.30,3.15,2.00,1.70,3.45,1.25,0.00,0.00,1 2
19,ATHENS STOCKHOLM,10,11,23:11,3:0,5:1,3,0,5,1,...,0.00,1.25,3.60,1.75,1.95,2.85,1.40,0.00,0.00,5 1
20,MADRID AMSTERDAM,1,2,23:11,1:0,3:2,1,0,3,2,...,0.00,0.00,0.00,1.50,2.45,2.40,1.50,4.40,1.18,3 2
21,LISBON EDINBURGH,7,15,23:11,0:0,2:1,0,0,2,1,...,0.00,1.25,3.45,1.90,1.80,3.35,1.30,0.00,0.00,2 1
22,BRUSSELS VIENNA,9,13,23:11,0:1,0:3,0,1,0,3,...,0.00,1.55,2.30,2.65,1.40,5.00,1.14,0.00,0.00,0 3
23,COPENHAGEN ROME,12,5,23:11,0:1,0:1,0,1,0,1,...,0.00,1.55,2.30,2.60,1.45,4.90,1.14,0.00,0.00,0 1
24,VIENNA BERN,13,16,23:16,1:2,2:4,1,2,2,4,...,0.00,1.50,2.40,2.55,1.45,4.90,1.14,0.00,0.00,2 4
25,PARIS LONDON,8,4,23:16,1:1,1:2,1,1,1,2,...,0.00,0.00,0.00,1.60,2.25,2.40,1.50,4.30,1.18,1 2
26,BERLIN LISBON,3,7,23:16,0:0,0:1,0,0,0,1,...,0.00,1.35,2.85,2.15,1.60,3.80,1.22,0.00,0.00,0 1
27,STOCKHOLM COPENHAGEN,11,12,23:16,0:0,0:0,0,0,0,0,...,0.00,1.35,3.00,2.20,1.60,4.00,1.20,0.00,0.00,0 0
28,MADRID ANKARA,1,14,23:16,4:0,6:0,4,0,6,0,...,0.00,0.00,0.00,1.60,2.20,2.40,1.50,4.40,1.18,6 0
29,AMSTERDAM ROME,2,5,23:16,2:0,2:0,2,0,2,0,...,0.00,1.20,4.10,1.70,2.05,2.65,1.40,0.00,0.00,2 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8289,LONDON MADRID,4,1,03:04,0:0,2:1,0,0,2,1,...,0.00,0.00,0.00,1.45,2.55,2.30,1.55,3.90,1.22,2 1
8290,COPENHAGEN ROME,12,5,03:04,0:0,0:0,0,0,0,0,...,0.00,1.55,2.30,2.60,1.45,4.95,1.14,0.00,0.00,0 0
8291,OSLO VIENNA,6,13,03:04,1:1,2:2,1,1,2,2,...,0.00,1.25,3.50,1.90,1.80,3.55,1.25,0.00,0.00,2 2
8292,STOCKHOLM BRUSSELS,11,9,03:04,2:1,3:1,2,1,3,1,...,0.00,1.40,2.80,2.10,1.65,4.30,1.18,0.00,0.00,3 1
8293,BERN AMSTERDAM,16,2,03:04,0:0,0:3,0,0,0,3,...,0.00,1.30,3.15,1.95,1.75,3.65,1.25,0.00,0.00,0 3
8294,ATHENS LISBON,10,7,03:04,0:0,1:1,0,0,1,1,...,0.00,1.40,2.65,2.30,1.55,4.55,1.16,0.00,0.00,1 1
8295,LISBON LONDON,7,4,03:09,0:1,0:3,0,1,0,3,...,0.00,1.35,3.05,2.05,1.70,3.40,1.25,0.00,0.00,0 3
8296,MADRID OSLO,1,6,03:09,0:1,1:2,0,1,1,2,...,0.00,0.00,0.00,1.55,2.30,2.40,1.50,4.05,1.20,1 2
8297,BERN EDINBURGH,16,15,03:09,1:1,1:2,1,1,1,2,...,0.00,1.35,3.05,2.20,1.60,3.75,1.22,0.00,0.00,1 2
8298,VIENNA STOCKHOLM,13,11,03:09,0:1,0:1,0,1,0,1,...,0.00,1.35,3.05,2.05,1.70,3.35,1.30,0.00,0.00,0 1
8299,ANKARA PARIS,14,8,03:09,0:0,1:1,0,0,1,1,...,0.00,1.22,3.80,1.70,2.05,2.75,1.40,0.00,0.00,1 1
8300,AMSTERDAM ROME,2,5,03:09,3:0,3:1,3,0,3,1,...,0.00,1.22,3.90,1.70,2.05,2.65,1.40,0.00,0.00,3 1
8301,BRUSSELS COPENHAGEN,9,12,03:09,1:0,1:0,1,0,1,0,...,5.75,1.85,1.85,0.00,1.22,0.00,0.00,0.00,0.00,1 0
8302,BERLIN ATHENS,3,10,03:09,0:1,2:2,0,1,2,2,...,0.00,1.30,3.30,1.95,1.75,3.45,1.25,0.00,0.00,2 2
8303,COPENHAGEN VIENNA,12,13,03:13,1:0,2:0,1,0,2,0,...,6.75,1.75,1.95,0.00,1.30,0.00,0.00,0.00,0.00,2 0
8304,LONDON BERLIN,4,3,03:13,1:1,1:2,1,1,1,2,...,0.00,1.22,3.85,1.70,2.05,2.80,1.40,0.00,0.00,1 2
8305,ROME BRUSSELS,5,9,03:13,1:1,2:1,1,1,2,1,...,0.00,1.30,3.10,2.10,1.65,3.85,1.22,0.00,0.00,2 1
8306,EDINBURGH AMSTERDAM,15,2,03:13,0:0,0:2,0,0,0,2,...,0.00,1.25,3.65,1.70,2.00,2.90,1.35,0.00,0.00,0 2
8307,STOCKHOLM MADRID,11,1,03:13,0:1,0:1,0,1,0,1,...,0.00,0.00,0.00,1.40,2.75,2.05,1.70,3.35,1.30,0 1
8308,OSLO LISBON,6,7,03:13,0:2,2:3,0,2,2,3,...,0.00,1.40,2.75,2.10,1.65,3.65,1.25,0.00,0.00,2 3
8309,PARIS BERN,8,16,03:13,1:0,1:0,1,0,1,0,...,0.00,1.22,3.85,1.85,1.90,3.10,1.30,0.00,0.00,1 0
8310,ATHENS ANKARA,10,14,03:13,0:0,0:0,0,0,0,0,...,0.00,1.35,2.90,2.10,1.65,3.70,1.25,0.00,0.00,0 0
8311,BERN ATHENS,16,10,03:18,0:1,0:2,0,1,0,2,...,0.00,1.50,2.50,2.55,1.45,4.85,1.15,0.00,0.00,0 2
8312,BERLIN OSLO,3,6,03:18,0:0,1:0,0,0,1,0,...,0.00,1.30,3.15,2.00,1.75,3.75,1.22,0.00,0.00,1 0
8313,VIENNA ROME,13,5,03:18,0:1,0:2,0,1,0,2,...,0.00,1.35,3.00,2.00,1.70,3.95,1.22,0.00,0.00,0 2
8314,EDINBURGH PARIS,15,8,03:18,0:2,1:2,0,2,1,2,...,0.00,1.22,3.80,1.70,2.05,2.75,1.40,0.00,0.00,1 2
8315,LISBON STOCKHOLM,7,11,03:18,0:0,2:0,0,0,2,0,...,0.00,1.25,3.70,1.80,1.95,2.85,1.35,0.00,0.00,2 0
8316,MADRID COPENHAGEN,1,12,03:18,1:0,1:0,1,0,1,0,...,0.00,1.25,3.70,1.80,1.95,2.95,1.35,0.00,0.00,1 0
8317,AMSTERDAM BRUSSELS,2,9,03:18,2:0,2:0,2,0,2,0,...,0.00,1.45,2.55,2.30,1.55,3.75,1.22,0.00,0.00,2 0
8318,ANKARA LONDON,14,4,03:18,0:1,1:1,0,1,1,1,...,0.00,1.18,4.40,1.70,2.05,2.85,1.35,0.00,0.00,1 1

In [5]:

def over_under(ps,n):
    lp=[]
    for x in ps:
        h=x.replace(':','  ')[:1]
        a=x.replace(':','  ')[1:]
        # if goals sum is greater than n value is 1
        
        if (float(h) + float(a)) > float(n):
            lp.append(1)

        else:
            #means it is under n eg under 2.5
            lp.append(0)

    return pd.Series(lp)

def goalsum(ps):
    lp=[]
    for x in ps:
        h=x.replace(':','  ')[:1]
        a=x.replace(':','  ')[1:]
        # if goals sum is greater than n value is 1
        
        lp.append((float(h) + float(a)))

    return pd.Series(lp)


# FT UNDER /OVER Goals
p = 3.5
n = 2.5
q = 1.5

df1['Under_Over_3.5']= over_under(df1['FT_Goals'],p)
df1['Under_Over_2.5']= over_under(df1['FT_Goals'],n)
df1['Under_Over_1.5']= over_under(df1['FT_Goals'],q)

df1['Sum_Goals']= goalsum(df1['FT_Goals'])
df1

,TC,HOMECODE,AWAYCODE,TIMEr,HTR,FTR,HT_home_goals,HT_away_goals,FT_home_goals,FT_away_goals,...,G(2.5)U,G(3.5)O,G(3.5)U,G(4.5)O,G(4.5)U,FT_Goals,Under_Over_3.5,Under_Over_2.5,Under_Over_1.5,Sum_Goals
0,ATHENS COPENHAGEN,10,12,23:02,0:2,1:3,0,2,1,3,...,1.40,0.00,0.00,0.00,0.00,1 3,1,1,1,4.0
1,LISBON OSLO,7,6,23:02,2:0,2:0,2,0,2,0,...,1.50,4.45,1.18,0.00,0.00,2 0,0,0,1,2.0
2,PARIS AMSTERDAM,8,2,23:02,2:1,2:2,2,1,2,2,...,2.00,3.05,1.35,0.00,0.00,2 2,1,1,1,4.0
3,LONDON VIENNA,4,13,23:02,0:1,2:1,0,1,2,1,...,1.85,3.20,1.30,0.00,0.00,2 1,0,1,1,3.0
4,ANKARA EDINBURGH,14,15,23:02,2:0,2:1,2,0,2,1,...,1.70,3.55,1.25,0.00,0.00,2 1,0,1,1,3.0
5,MADRID BERLIN,1,3,23:02,1:0,2:0,1,0,2,0,...,2.40,2.50,1.45,0.00,0.00,2 0,0,0,1,2.0
6,BERN ROME,16,5,23:02,0:1,0:3,0,1,0,3,...,1.70,3.50,1.25,0.00,0.00,0 3,0,1,1,3.0
7,BRUSSELS STOCKHOLM,9,11,23:02,1:1,4:2,1,1,4,2,...,1.70,3.65,1.25,0.00,0.00,4 2,1,1,1,6.0
8,PARIS MADRID,8,1,23:07,0:0,0:1,0,0,0,1,...,2.60,2.25,1.60,4.15,1.20,0 1,0,0,0,1.0
9,BERLIN ANKARA,3,14,23:07,0:1,2:1,0,1,2,1,...,2.05,2.95,1.35,0.00,0.00,2 1,0,1,1,3.0
10,EDINBURGH LONDON,15,4,23:07,0:0,0:0,0,0,0,0,...,2.15,2.40,1.50,0.00,0.00,0 0,0,0,0,0.0
11,AMSTERDAM COPENHAGEN,2,12,23:07,2:0,3:0,2,0,3,0,...,1.65,3.90,1.22,0.00,0.00,3 0,0,1,1,3.0
12,STOCKHOLM BERN,11,16,23:07,1:2,1:3,1,2,1,3,...,2.10,2.75,1.40,0.00,0.00,1 3,1,1,1,4.0
13,VIENNA LISBON,13,7,23:07,1:1,1:2,1,1,1,2,...,1.40,5.25,1.12,0.00,0.00,1 2,0,1,1,3.0
14,ROME ATHENS,5,10,23:07,1:0,1:0,1,0,1,0,...,2.10,2.85,1.35,0.00,0.00,1 0,0,0,0,1.0
15,OSLO BRUSSELS,6,9,23:07,1:0,1:0,1,0,1,0,...,1.50,4.75,1.15,0.00,0.00,1 0,0,0,0,1.0
16,ANKARA PARIS,14,8,23:11,2:2,2:3,2,2,2,3,...,2.00,2.75,1.40,0.00,0.00,2 3,1,1,1,5.0
17,LONDON BERLIN,4,3,23:11,0:0,2:0,0,0,2,0,...,2.05,2.70,1.40,0.00,0.00,2 0,0,0,1,2.0
18,BERN OSLO,16,6,23:11,1:0,1:2,1,0,1,2,...,1.70,3.45,1.25,0.00,0.00,1 2,0,1,1,3.0
19,ATHENS STOCKHOLM,10,11,23:11,3:0,5:1,3,0,5,1,...,1.95,2.85,1.40,0.00,0.00,5 1,1,1,1,6.0
20,MADRID AMSTERDAM,1,2,23:11,1:0,3:2,1,0,3,2,...,2.45,2.40,1.50,4.40,1.18,3 2,1,1,1,5.0
21,LISBON EDINBURGH,7,15,23:11,0:0,2:1,0,0,2,1,...,1.80,3.35,1.30,0.00,0.00,2 1,0,1,1,3.0
22,BRUSSELS VIENNA,9,13,23:11,0:1,0:3,0,1,0,3,...,1.40,5.00,1.14,0.00,0.00,0 3,0,1,1,3.0
23,COPENHAGEN ROME,12,5,23:11,0:1,0:1,0,1,0,1,...,1.45,4.90,1.14,0.00,0.00,0 1,0,0,0,1.0
24,VIENNA BERN,13,16,23:16,1:2,2:4,1,2,2,4,...,1.45,4.90,1.14,0.00,0.00,2 4,1,1,1,6.0
25,PARIS LONDON,8,4,23:16,1:1,1:2,1,1,1,2,...,2.25,2.40,1.50,4.30,1.18,1 2,0,1,1,3.0
26,BERLIN LISBON,3,7,23:16,0:0,0:1,0,0,0,1,...,1.60,3.80,1.22,0.00,0.00,0 1,0,0,0,1.0
27,STOCKHOLM COPENHAGEN,11,12,23:16,0:0,0:0,0,0,0,0,...,1.60,4.00,1.20,0.00,0.00,0 0,0,0,0,0.0
28,MADRID ANKARA,1,14,23:16,4:0,6:0,4,0,6,0,...,2.20,2.40,1.50,4.40,1.18,6 0,1,1,1,6.0
29,AMSTERDAM ROME,2,5,23:16,2:0,2:0,2,0,2,0,...,2.05,2.65,1.40,0.00,0.00,2 0,0,0,1,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8289,LONDON MADRID,4,1,03:04,0:0,2:1,0,0,2,1,...,2.55,2.30,1.55,3.90,1.22,2 1,0,1,1,3.0
8290,COPENHAGEN ROME,12,5,03:04,0:0,0:0,0,0,0,0,...,1.45,4.95,1.14,0.00,0.00,0 0,0,0,0,0.0
8291,OSLO VIENNA,6,13,03:04,1:1,2:2,1,1,2,2,...,1.80,3.55,1.25,0.00,0.00,2 2,1,1,1,4.0
8292,STOCKHOLM BRUSSELS,11,9,03:04,2:1,3:1,2,1,3,1,...,1.65,4.30,1.18,0.00,0.00,3 1,1,1,1,4.0
8293,BERN AMSTERDAM,16,2,03:04,0:0,0:3,0,0,0,3,...,1.75,3.65,1.25,0.00,0.00,0 3,0,1,1,3.0
8294,ATHENS LISBON,10,7,03:04,0:0,1:1,0,0,1,1,...,1.55,4.55,1.16,0.00,0.00,1 1,0,0,1,2.0
8295,LISBON LONDON,7,4,03:09,0:1,0:3,0,1,0,3,...,1.70,3.40,1.25,0.00,0.00,0 3,0,1,1,3.0
8296,MADRID OSLO,1,6,03:09,0:1,1:2,0,1,1,2,...,2.30,2.40,1.50,4.05,1.20,1 2,0,1,1,3.0
8297,BERN EDINBURGH,16,15,03:09,1:1,1:2,1,1,1,2,...,1.60,3.75,1.22,0.00,0.00,1 2,0,1,1,3.0
8298,VIENNA STOCKHOLM,13,11,03:09,0:1,0:1,0,1,0,1,...,1.70,3.35,1.30,0.00,0.00,0 1,0,0,0,1.0
8299,ANKARA PARIS,14,8,03:09,0:0,1:1,0,0,1,1,...,2.05,2.75,1.40,0.00,0.00,1 1,0,0,1,2.0
8300,AMSTERDAM ROME,2,5,03:09,3:0,3:1,3,0,3,1,...,2.05,2.65,1.40,0.00,0.00,3 1,1,1,1,4.0
8301,BRUSSELS COPENHAGEN,9,12,03:09,1:0,1:0,1,0,1,0,...,1.22,0.00,0.00,0.00,0.00,1 0,0,0,0,1.0
8302,BERLIN ATHENS,3,10,03:09,0:1,2:2,0,1,2,2,...,1.75,3.45,1.25,0.00,0.00,2 2,1,1,1,4.0
8303,COPENHAGEN VIENNA,12,13,03:13,1:0,2:0,1,0,2,0,...,1.30,0.00,0.00,0.00,0.00,2 0,0,0,1,2.0
8304,LONDON BERLIN,4,3,03:13,1:1,1:2,1,1,1,2,...,2.05,2.80,1.40,0.00,0.00,1 2,0,1,1,3.0
8305,ROME BRUSSELS,5,9,03:13,1:1,2:1,1,1,2,1,...,1.65,3.85,1.22,0.00,0.00,2 1,0,1,1,3.0
8306,EDINBURGH AMSTERDAM,15,2,03:13,0:0,0:2,0,0,0,2,...,2.00,2.90,1.35,0.00,0.00,0 2,0,0,1,2.0
8307,STOCKHOLM MADRID,11,1,03:13,0:1,0:1,0,1,0,1,...,2.75,2.05,1.70,3.35,1.30,0 1,0,0,0,1.0
8308,OSLO LISBON,6,7,03:13,0:2,2:3,0,2,2,3,...,1.65,3.65,1.25,0.00,0.00,2 3,1,1,1,5.0
8309,PARIS BERN,8,16,03:13,1:0,1:0,1,0,1,0,...,1.90,3.10,1.30,0.00,0.00,1 0,0,0,0,1.0
8310,ATHENS ANKARA,10,14,03:13,0:0,0:0,0,0,0,0,...,1.65,3.70,1.25,0.00,0.00,0 0,0,0,0,0.0
8311,BERN ATHENS,16,10,03:18,0:1,0:2,0,1,0,2,...,1.45,4.85,1.15,0.00,0.00,0 2,0,0,1,2.0
8312,BERLIN OSLO,3,6,03:18,0:0,1:0,0,0,1,0,...,1.75,3.75,1.22,0.00,0.00,1 0,0,0,0,1.0
8313,VIENNA ROME,13,5,03:18,0:1,0:2,0,1,0,2,...,1.70,3.95,1.22,0.00,0.00,0 2,0,0,1,2.0
8314,EDINBURGH PARIS,15,8,03:18,0:2,1:2,0,2,1,2,...,2.05,2.75,1.40,0.00,0.00,1 2,0,1,1,3.0
8315,LISBON STOCKHOLM,7,11,03:18,0:0,2:0,0,0,2,0,...,1.95,2.85,1.35,0.00,0.00,2 0,0,0,1,2.0
8316,MADRID COPENHAGEN,1,12,03:18,1:0,1:0,1,0,1,0,...,1.95,2.95,1.35,0.00,0.00,1 0,0,0,0,1.0
8317,AMSTERDAM BRUSSELS,2,9,03:18,2:0,2:0,2,0,2,0,...,1.55,3.75,1.22,0.00,0.00,2 0,0,0,1,2.0
8318,ANKARA LONDON,14,4,03:18,0:1,1:1,0,1,1,1,...,2.05,2.85,1.35,0.00,0.00,1 1,0,0,1,2.0

In [6]:


df1= df1[df1['G(2.5)O'] > 1.2]

df1= df1[df1['G(2.5)O'] < 1.65]
df1
f=df1.drop_duplicates()
f.head()
f
#df1= df1[df1['HT1'] >2.7]

#df1= df1[df1['HT1'] < 3.45]
#df1

,TC,HOMECODE,AWAYCODE,TIMEr,HTR,FTR,HT_home_goals,HT_away_goals,FT_home_goals,FT_away_goals,...,G(2.5)U,G(3.5)O,G(3.5)U,G(4.5)O,G(4.5)U,FT_Goals,Under_Over_3.5,Under_Over_2.5,Under_Over_1.5,Sum_Goals
5,MADRID BERLIN,1,3,23:02,1:0,2:0,1,0,2,0,...,2.40,2.50,1.45,0.00,0.00,2 0,0,0,1,2.0
8,PARIS MADRID,8,1,23:07,0:0,0:1,0,0,0,1,...,2.60,2.25,1.60,4.15,1.20,0 1,0,0,0,1.0
10,EDINBURGH LONDON,15,4,23:07,0:0,0:0,0,0,0,0,...,2.15,2.40,1.50,0.00,0.00,0 0,0,0,0,0.0
20,MADRID AMSTERDAM,1,2,23:11,1:0,3:2,1,0,3,2,...,2.45,2.40,1.50,4.40,1.18,3 2,1,1,1,5.0
25,PARIS LONDON,8,4,23:16,1:1,1:2,1,1,1,2,...,2.25,2.40,1.50,4.30,1.18,1 2,0,1,1,3.0
28,MADRID ANKARA,1,14,23:16,4:0,6:0,4,0,6,0,...,2.20,2.40,1.50,4.40,1.18,6 0,1,1,1,6.0
34,ANKARA STOCKHOLM,14,11,01:45,0:1,0:2,0,1,0,2,...,2.15,2.75,1.40,0.00,0.00,0 2,0,0,1,2.0
36,EDINBURGH ROME,15,5,01:45,1:1,1:4,1,1,1,4,...,2.30,2.60,1.45,0.00,0.00,1 4,1,1,1,5.0
40,STOCKHOLM EDINBURGH,11,15,01:50,1:2,2:2,1,2,2,2,...,2.40,2.35,1.50,4.15,1.20,2 2,1,1,1,4.0
53,LONDON MADRID,4,1,01:54,0:0,1:1,0,0,1,1,...,2.40,2.40,1.50,4.05,1.20,1 1,0,0,1,2.0
54,STOCKHOLM ROME,11,5,01:54,0:1,1:1,0,1,1,1,...,2.25,2.45,1.50,4.40,1.18,1 1,0,0,1,2.0
58,MADRID AMSTERDAM,1,2,01:59,2:0,3:0,2,0,3,0,...,2.40,2.45,1.50,4.45,1.16,3 0,0,1,1,3.0
76,PARIS MADRID,8,1,02:03,0:2,1:4,0,2,1,4,...,2.60,2.25,1.60,4.20,1.18,1 4,1,1,1,5.0
80,MADRID ATHENS,1,10,02:08,0:0,1:1,0,0,1,1,...,2.15,2.50,1.50,4.25,1.18,1 1,0,0,1,2.0
82,OSLO STOCKHOLM,6,11,02:08,2:1,4:2,2,1,4,2,...,2.20,2.45,1.50,4.60,1.16,4 2,1,1,1,6.0
87,ROME LONDON,5,4,02:08,1:2,1:3,1,2,1,3,...,2.35,2.25,1.55,4.10,1.20,1 3,1,1,1,4.0
99,MADRID EDINBURGH,1,15,02:17,1:0,1:0,1,0,1,0,...,3.00,2.00,1.75,3.30,1.30,1 0,0,0,0,1.0
101,LONDON PARIS,4,8,02:17,2:1,2:1,2,1,2,1,...,2.40,2.35,1.55,3.95,1.22,2 1,0,1,1,3.0
108,STOCKHOLM MADRID,11,1,02:22,0:2,0:2,0,2,0,2,...,2.50,2.10,1.65,3.35,1.30,0 2,0,0,1,2.0
114,ROME PARIS,5,8,02:26,1:0,4:1,1,0,4,1,...,2.35,2.30,1.55,3.85,1.22,4 1,1,1,1,5.0
122,EDINBURGH LONDON,15,4,02:31,0:1,0:2,0,1,0,2,...,2.15,2.40,1.50,0.00,0.00,0 2,0,0,1,2.0
130,MADRID OSLO,1,6,02:35,3:1,3:1,3,1,3,1,...,2.20,2.40,1.50,4.15,1.20,3 1,1,1,1,4.0
135,LONDON STOCKHOLM,4,11,02:35,2:0,2:0,2,0,2,0,...,2.45,2.25,1.55,3.65,1.25,2 0,0,0,1,2.0
156,PARIS STOCKHOLM,8,11,02:45,0:0,2:0,0,0,2,0,...,2.45,2.40,1.50,4.20,1.18,2 0,0,0,1,2.0
157,MADRID ROME,1,5,02:49,0:1,3:3,0,1,3,3,...,2.70,2.10,1.65,3.75,1.22,3 3,1,1,1,6.0
158,OSLO LONDON,6,4,02:49,0:2,1:3,0,2,1,3,...,2.20,2.65,1.45,0.00,0.00,1 3,1,1,1,4.0
165,MADRID BERN,1,16,02:54,2:0,3:1,2,0,3,1,...,2.20,2.50,1.50,4.40,1.18,3 1,1,1,1,4.0
166,STOCKHOLM ANKARA,11,14,02:54,1:0,1:0,1,0,1,0,...,2.25,2.50,1.50,0.00,0.00,1 0,0,0,0,1.0
167,ROME EDINBURGH,5,15,02:54,0:1,2:1,0,1,2,1,...,2.20,2.35,1.55,3.85,1.22,2 1,0,1,1,3.0
176,EDINBURGH STOCKHOLM,15,11,02:58,0:1,1:2,0,1,1,2,...,2.20,2.55,1.45,0.00,0.00,1 2,0,1,1,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8140,MADRID BERN,1,16,01:37,0:0,0:1,0,0,0,1,...,2.25,2.45,1.50,4.35,1.18,0 1,0,0,0,1.0
8142,STOCKHOLM OSLO,11,6,01:37,1:2,3:2,1,2,3,2,...,2.20,2.60,1.45,0.00,0.00,3 2,1,1,1,5.0
8150,LONDON ROME,4,5,01:42,0:1,0:1,0,1,0,1,...,2.20,2.45,1.50,4.15,1.20,0 1,0,0,0,1.0
8159,MADRID PARIS,1,8,01:46,1:1,3:1,1,1,3,1,...,2.95,1.95,1.75,3.30,1.30,3 1,1,1,1,4.0
8169,STOCKHOLM ROME,11,5,01:51,2:0,2:0,2,0,2,0,...,2.40,2.30,1.55,4.05,1.20,2 0,0,0,1,2.0
8173,BERLIN PARIS,3,8,01:55,1:1,2:2,1,1,2,2,...,2.20,2.65,1.40,0.00,0.00,2 2,1,1,1,4.0
8178,PARIS ANKARA,8,14,02:00,1:0,1:0,1,0,1,0,...,2.20,3.00,1.35,0.00,0.00,1 0,0,0,0,1.0
8188,MADRID STOCKHOLM,1,11,02:05,0:2,0:2,0,2,0,2,...,3.20,1.80,1.90,2.85,1.35,0 2,0,0,1,2.0
8205,ROME MADRID,5,1,02:14,1:0,2:0,1,0,2,0,...,2.55,2.15,1.60,3.90,1.22,2 0,0,0,1,2.0
8208,LONDON BERN,4,16,02:14,2:0,5:1,2,0,5,1,...,2.20,2.45,1.50,0.00,0.00,5 1,1,1,1,6.0
8211,EDINBURGH LONDON,15,4,02:18,1:0,1:1,1,0,1,1,...,2.20,2.50,1.45,0.00,0.00,1 1,0,0,1,2.0
8215,ANKARA STOCKHOLM,14,11,02:18,0:3,0:5,0,3,0,5,...,2.25,2.70,1.40,0.00,0.00,0 5,1,1,1,5.0
8221,LONDON PARIS,4,8,02:23,1:0,2:0,1,0,2,0,...,2.30,2.40,1.50,4.25,1.18,2 0,0,0,1,2.0
8226,MADRID AMSTERDAM,1,2,02:28,1:0,1:1,1,0,1,1,...,2.35,2.40,1.50,0.00,0.00,1 1,0,0,1,2.0
8228,EDINBURGH STOCKHOLM,15,11,02:28,0:1,0:2,0,1,0,2,...,2.30,2.50,1.45,0.00,0.00,0 2,0,0,1,2.0
8232,STOCKHOLM PARIS,11,8,02:32,0:0,0:0,0,0,0,0,...,2.45,2.30,1.55,4.00,1.20,0 0,0,0,0,0.0
8236,ROME BERN,5,16,02:32,1:0,1:0,1,0,1,0,...,2.20,2.55,1.45,0.00,0.00,1 0,0,0,0,1.0
8243,EDINBURGH ROME,15,5,02:37,0:0,2:1,0,0,2,1,...,2.25,2.50,1.45,0.00,0.00,2 1,0,1,1,3.0
8250,STOCKHOLM LONDON,11,4,02:41,1:1,2:4,1,1,2,4,...,2.50,2.25,1.55,4.00,1.20,2 4,1,1,1,6.0
8251,ROME PARIS,5,8,02:41,3:0,5:1,3,0,5,1,...,2.20,2.45,1.50,3.80,1.22,5 1,1,1,1,6.0
8260,OSLO STOCKHOLM,6,11,02:46,2:1,3:1,2,1,3,1,...,2.25,2.50,1.45,0.00,0.00,3 1,1,1,1,4.0
8263,MADRID EDINBURGH,1,15,02:50,0:0,1:0,0,0,1,0,...,2.90,2.05,1.70,3.30,1.30,1 0,0,0,0,1.0
8269,AMSTERDAM STOCKHOLM,2,11,02:50,0:2,0:4,0,2,0,4,...,2.45,2.40,1.50,3.70,1.22,0 4,1,1,1,4.0
8270,ROME LONDON,5,4,02:50,2:1,2:1,2,1,2,1,...,2.45,2.30,1.55,4.25,1.18,2 1,0,1,1,3.0
8273,PARIS MADRID,8,1,02:55,1:4,2:4,1,4,2,4,...,2.65,2.30,1.55,4.30,1.18,2 4,1,1,1,6.0
8279,ROME STOCKHOLM,5,11,03:00,0:1,2:1,0,1,2,1,...,2.55,2.20,1.60,3.85,1.22,2 1,0,1,1,3.0
8280,MADRID ATHENS,1,10,03:00,3:0,6:1,3,0,6,1,...,2.20,2.50,1.45,4.10,1.20,6 1,1,1,1,7.0
8289,LONDON MADRID,4,1,03:04,0:0,2:1,0,0,2,1,...,2.55,2.30,1.55,3.90,1.22,2 1,0,1,1,3.0
8296,MADRID OSLO,1,6,03:09,0:1,1:2,0,1,1,2,...,2.30,2.40,1.50,4.05,1.20,1 2,0,1,1,3.0
8307,STOCKHOLM MADRID,11,1,03:13,0:1,0:1,0,1,0,1,...,2.75,2.05,1.70,3.35,1.30,0 1,0,0,0,1.0

In [11]:


model_colsh=['HOMECODE', 'AWAYCODE', '1',
       '2', 'X', 'HT1', 'HT2', 'HTX', 'FS (0:0)', 'FS(0:0)2', 'FS(0:0)X',
       'G(0.5)O', 'G(0.5)U', 'G(1.5)O', 'G(1.5)U', 'G(2.5)O', 'G(2.5)U',
       'G(3.5)O', 'G(3.5)U', 'G(4.5)O', 'G(4.5)U','HT_Results_1_0_2']

model_cols=['HOMECODE', 'AWAYCODE', '1',
       '2', 'X', 'HT1', 'HT2', 'HTX', 'FS (0:0)', 'FS(0:0)2', 'FS(0:0)X',
       'G(0.5)O', 'G(0.5)U', 'G(1.5)O', 'G(1.5)U', 'G(2.5)O', 'G(2.5)U',
       'G(3.5)O', 'G(3.5)U', 'G(4.5)O', 'G(4.5)U','Under_Over_2.5',]


model_data=f.loc[:, model_cols].head()
dataR = model_data.values
model_data

,HOMECODE,AWAYCODE,1,2,X,HT1,HT2,HTX,FS (0:0),FS(0:0)2,...,G(0.5)U,G(1.5)O,G(1.5)U,G(2.5)O,G(2.5)U,G(3.5)O,G(3.5)U,G(4.5)O,G(4.5)U,Under_Over_2.5
5,1,3,1.85,3.65,4.30,2.35,3.55,2.70,1.70,2.25,...,0.0,1.18,4.3,1.50,2.40,2.50,1.45,0.00,0.00,0
8,8,1,4.05,1.80,4.05,4.10,2.15,2.70,2.30,1.60,...,0.0,0.00,0.0,1.45,2.60,2.25,1.60,4.15,1.20,0
10,15,4,6.50,1.55,4.15,6.25,1.85,2.60,3.05,1.40,...,0.0,1.18,4.2,1.60,2.15,2.40,1.50,0.00,0.00,0
20,1,2,2.05,3.00,4.20,2.20,3.20,3.20,1.70,2.20,...,0.0,0.00,0.0,1.50,2.45,2.40,1.50,4.40,1.18,1
25,8,4,3.20,2.05,4.00,3.45,2.40,2.65,2.15,1.75,...,0.0,0.00,0.0,1.60,2.25,2.40,1.50,4.30,1.18,1

In [12]:
t= 559
def vfl_data(t,p):
    n=int(((100-p)/100)*t)
    print('Train Data:',t-(t-n),'Test Data:',t-n)
    dataTr=dataR[:n]
    dataTe=dataR[n:]
    
    x_train=dataTr[:,0:21]
    x2_train=x_train.reshape(n,7,3)
    #x_train = x2_train[:, np.newaxis, :,:]
    y_train= dataTr[:,21]


    x1_test=dataTe[:,0:21]
    #x2_test=x1_test.reshape(t-n,7,3)
   # x_test = x2_test[:, np.newaxis, :,:]
    x_test = x1_test
    y_test= dataTe[:,21]
    
    return (x_train, y_train), (x_test, y_test)
(x_train, y_train), (x_test, y_test)=vfl_data(t,10)

from __future__ import print_function
import numpy as np
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from keras.optimizers import SGD,Adam
from keras.utils import np_utils
import numpy as np
import pylab as plt
import numpy as np
import matplotlib.pyplot as plt
import os 



#np.random.seed(1671) # for reproducibility
# network and training
NB_EPOCH = 1
BATCH_SIZE = 35
VERBOSE = 1
NB_CLASSES = 2 # number of outputs = number of digits
OPTIMIZER =Adam() #SGD() # optimizer, explained later in this chapter
N_HIDDEN = 250
N_HIDDEN1 =600
#INITIAL_EPOCH = 0
VALIDATION_SPLIT=0.2 # how much TRAIN is reserved for VALIDATION
DROPOUT = 0.05
# data: shuffled and split between train and test sets
#(X_train, y_train), (X_test, y_test) = mnist.load_data()
(x_train, y_train), (x_test, y_test)=vfl_data(t,10)
#X_train is 60000 rows of 28x28 values --> reshaped in 60000 x 784
RESHAPED = 21
#
X_train = x_train.reshape(x_train.shape[0], RESHAPED)
X_test = x_test.reshape(x_test.shape[0], RESHAPED)
X_train = x_train.astype('float32')
X_test = x_test.astype('float32')
# normalize
X_train /= 5
X_test /= 5


# convert class vectors to binary class matrices..
Y_train = np_utils.to_categorical(y_train, NB_CLASSES)
Y_test = np_utils.to_categorical(y_test, NB_CLASSES)





# M_HIDDEN hidden layers 10 outputs
model = Sequential()
model.add(Dense(N_HIDDEN, input_shape=(RESHAPED,)))
model.add(Activation('relu'))
model.add(Dropout(DROPOUT))
model.add(Dense(N_HIDDEN1))
model.add(Activation('relu'))
model.add(Dropout(DROPOUT))
model.add(Dense(NB_CLASSES))
model.add(Activation('softmax'))
model.summary()



# Loss Train
model.compile(loss='categorical_crossentropy',optimizer=OPTIMIZER,metrics=['accuracy'])
history = model.fit(X_train, Y_train,batch_size=BATCH_SIZE, epochs=NB_EPOCH,verbose=VERBOSE,
                    validation_split=VALIDATION_SPLIT)
# Test

score = model.evaluate(X_test, Y_test, verbose=VERBOSE)
print("Test score:", score[0])
print('Test accuracy:', score[1])

Train Data: 503 Test Data: 56

ValueError: cannot reshape array of size 105 into shape (503,7,3)

In [2]:
dataR=mod_data.values
dataR

NameError: name 'mod_data' is not defined

In [9]:
from keras import backend as K
from __future__ import division, print_function 
from keras.callbacks import ModelCheckpoint 
from keras.models import Sequential
from keras.layers.convolutional import Conv2D
#from keras.layers.convolutional import MaxPooling2D,AveragePooling2D
from keras.layers.pooling import AveragePooling2D,GlobalAveragePooling2D,MaxPooling2D,GlobalMaxPooling2D
from keras.layers.core import Activation
from keras.layers.core import Flatten
from keras.layers.core import Dense, Dropout 
#from keras_contrib
from keras_contrib.layers.core import CosineDense
from keras.layers.advanced_activations import LeakyReLU
from keras.datasets import mnist
from keras.utils import np_utils
from keras.optimizers import SGD, RMSprop, Adam
from keras.layers import LSTM
from keras.layers.normalization import BatchNormalization
import numpy as np
import pylab as plt
import numpy as np
import matplotlib.pyplot as plt
import os 

from keras.initializers import TruncatedNormal

Using TensorFlow backend.

In [14]:
class gNet:
    @staticmethod
    def build(input_shape, classes):
        
        model = Sequential()
        model.add(Conv2D(32, kernel_size=1, padding="same",input_shape=input_shape))
        model.add(Activation('relu'))
        model.add(Conv2D(32, (1, 2), padding='same'))
        model.add(Activation('relu'))
        model.add(MaxPooling2D(pool_size=(1, 2)))
        model.add(Dropout(0.25))
        model.add(Conv2D(64, (1, 2), padding='same'))
        model.add(Activation('relu'))
        model.add(Conv2D(64, 1, 2))
        model.add(Activation('relu'))
        model.add(MaxPooling2D(pool_size=(1, 2)))
        model.add(Dropout(0.25))
        model.add(Flatten())
        model.add(Dense(512))
        model.add(Activation('relu'))
        model.add(Dropout(0.5))
       # a softmax classifier
        model.add(Dense(classes))
        model.add(Activation("softmax"))
        return model
    

    #upto 60
class gNet1:
    @staticmethod
    def build(input_shape, classes):
        
        model = Sequential()
        model.add(Conv2D(16, kernel_size=1, padding="same",input_shape=input_shape))
        model.add(Activation('relu'))
       # model.add(Conv2D(16, (1, 2), padding='same'))
        #model.add(Activation('relu'))
        #model.add(MaxPooling2D(pool_size=(1, 2)))
        model.add(Dropout(0.05))
       # model.add(Conv2D(32, (1, 2), padding='same'))
       # model.add(Activation('relu'))
        model.add(Conv2D(32, 1, 2))
        model.add(Activation('relu'))
        model.add(MaxPooling2D(pool_size=(1, 2)))
        #model.add(Dropout(0.05))
        model.add(Flatten())
        model.add(Dense(112))
        model.add(Activation('relu'))
        model.add(Dropout(0.5))
       # a softmax classifier
        model.add(Dense(classes))
        model.add(Activation("softmax"))
        return model
    
class gNet2:
    @staticmethod
    def build(input_shape, classes):
        
        model = Sequential()
        model.add(Conv2D(16, kernel_size=1, padding="same",input_shape=input_shape))
        model.add(Activation('relu'))
       # model.add(Conv2D(16, (1, 2), padding='same'))
        #model.add(Activation('relu'))
        #model.add(MaxPooling2D(pool_size=(1, 2)))
        #model.add(Dropout(0.05))
       # model.add(Conv2D(32, (1, 2), padding='same'))
       # model.add(Activation('relu'))
        model.add(Conv2D(32, 1, 2))
        model.add(Activation('relu'))
        model.add(MaxPooling2D(pool_size=(1, 2)))
        #model.add(Dropout(0.05))
        model.add(Flatten())
        
        model.add(Dense(500))
        model.add(Activation('relu'))
        #model.add(Dropout(0.5)
                  
        model.add(Dense(20))
        model.add(Activation('relu'))
        model.add(Dropout(0.5))
       # a softmax classifier
        model.add(Dense(classes))
        model.add(Activation("softmax"))
        return model
    
    #upto 66
class gNet3:
    @staticmethod
    def build(input_shape, classes):
        
        model = Sequential()
        model.add(Conv2D(16, kernel_size=1, padding="same",input_shape=input_shape))
        model.add(Activation('relu'))
       # model.add(Conv2D(16, (1, 2), padding='same'))
        #model.add(Activation('relu'))
        #model.add(MaxPooling2D(pool_size=(1, 2)))
        #model.add(Dropout(0.05))
       # model.add(Conv2D(32, (1, 2), padding='same'))
       # model.add(Activation('relu'))
       # model.add(Conv2D(16, 1, 2))
       # model.add(Activation('relu'))
        model.add(MaxPooling2D(pool_size=(1, 2)))
        #model.add(Dropout(0.05))
        model.add(Flatten())
        model.add(Dense(100))
        model.add(Activation('relu'))
        model.add(Dropout(0.5))
       # a softmax classifier
        model.add(Dense(classes))
        model.add(Activation("softmax"))
        return model
    
    
class gNet4:
    @staticmethod
    def build(input_shape, classes):
        
        model = Sequential()
        model.add(Dense(40, input_shape=(RESHAPED,)))

        model.add(Activation('relu'))
        model.add(Dropout(0.5))
        
        model.add(Dense(200))
        model.add(Activation('relu'))
        
        model.add(Dense(500))
        model.add(Activation('relu'))
       # a softmax classifier
        model.add(Dense(classes))
        model.add(Activation("softmax"))
        return model

In [11]:
def vfl_data(t,p):
    n=int(((100-p)/100)*t)
    print('Train Data:',t-(t-n),'Test Data:',t-n)
    dataTr=dataR[:n]
    dataTe=dataR[n:]
    
    x_train=dataTr[:,0:21]
    x2_train=x_train.reshape(n,7,3)
    x_train = x2_train[:, np.newaxis, :,:]
    y_train= dataTr[:,21]


    x1_test=dataTe[:,0:21]
    x2_test=x1_test.reshape(t-n,7,3)
    x_test = x2_test[:, np.newaxis, :,:]
    y_test= dataTe[:,21]
    return (x_train, y_train), (x_test, y_test)
#(x_train, y_train), (x_test, y_test)=vfl_data(t,10)

Train Data: 503 Test Data: 56

In [12]:
# network and training
#NB_EPOCH =1
MODEL_DIR = "/tmp" 
BATCH_SIZE = 16
VERBOSE = 1
OPTIMIZER = SGD()
VALIDATION_SPLIT=0.15
ROWS,COLS = 7, 3 # input image dimensions
NB_CLASSES = 2 # number of outputs = number of digits
INPUT_SHAPE = (1, ROWS, COLS)

(x_train, y_train), (x_test, y_test)=vfl_data(t,10)

# consider them as float and normalize
X_train= (x_train.astype('float32'))/25
X_test= (x_test.astype('float32'))/25

print(X_train.shape[0], 'train samples')
print(X_test.shape[0], 'test samples')

y_train = np_utils.to_categorical(y_train, NB_CLASSES)
y_test = np_utils.to_categorical(y_test, NB_CLASSES)

Train Data: 503 Test Data: 56
503 train samples
56 test samples

In [13]:
from time import sleep
# initialize the optimizer and modeL
count = 0
NB_EPOCH = 3
INITIAL_EPOCH = 0

#for step in range(1):

model = gNet4.build(input_shape=INPUT_SHAPE, classes=NB_CLASSES)

model.compile(loss="categorical_crossentropy", optimizer=OPTIMIZER,metrics=["accuracy"])


# save best model 
checkpoint = ModelCheckpoint( filepath=os.path.join(MODEL_DIR, "model-{epoch:02d}.h5"),save_best_only=True) 

history = model.fit(X_train, y_train,batch_size=BATCH_SIZE, epochs=NB_EPOCH,initial_epoch = INITIAL_EPOCH,verbose=VERBOSE,validation_split=VALIDATION_SPLIT,callbacks=[checkpoint])
score = model.evaluate(X_test, y_test, verbose=VERBOSE)
sleep(2)
print("Test score:", score[0])
#print('Test accuracy:', score[1])
print('Test accuracy percentage:', round(score[1]*100,3),'%')
#model.save('g8FT_model.h5')

Train on 427 samples, validate on 76 samples
Epoch 1/3
427/427 [==============================] - 1s 3ms/step - loss: 0.6913 - acc: 0.5504 - val_loss: 0.6939 - val_acc: 0.5000
Epoch 2/3
427/427 [==============================] - 1s 1ms/step - loss: 0.6918 - acc: 0.5386 - val_loss: 0.6944 - val_acc: 0.5000
Epoch 3/3
427/427 [==============================] - 1s 2ms/step - loss: 0.6904 - acc: 0.5363 - val_loss: 0.6944 - val_acc: 0.5000
56/56 [==============================] - 0s 305us/step
Test score: 0.68947580031
Test accuracy percentage: 53.571 %

In [ ]:
model.save('n1HT66_071model.h5')

In [ ]:
#model.save('n1HT58_64model.h5')

In [ ]:
# list all data in history
print(history.history.keys())
# summarize history for accuracy
plt.plot(history.history['acc'])
plt.plot(history.history['val_acc'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

In [ ]:
# summarize history for loss
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

In [ ]:
from keras.models import load_model
import numpy as np
#model = load_model('g1_model.h5')
model = load_model('n1HT66_071model.h5') ##Keep this MODEL_Magic begins begin=55 end=45

In [ ]:
begin=30
end= 20
(x_train, y_train), (x_test, y_test)=vfl_data(t,10)

# consider them as float and normalize
X_train= (x_train.astype('float32'))/25
X_test= (x_test.astype('float32'))/25

print(X_train.shape[0], 'train samples')
print(X_test.shape[0], 'test samples')

In [ ]:
y_test

In [ ]:
y_test[-begin:-end]

In [ ]:
y_trainp = np_utils.to_categorical(y_train, NB_CLASSES)
y_testp = np_utils.to_categorical(y_test, NB_CLASSES)

In [ ]:
p=X_test[-begin:-end]
p.shape

In [ ]:
p_propability = model.predict(p)
p_class=model.predict_classes(p)
dT=f[-begin:-end][['TC','G(2.5)O','G(2.5)U','FTR',]].values

dT

In [ ]:
#print('    Properbility to win  predictions  ')
print('    OVER       UNDER        Actual results   Prediction ' )
pr=p_propability

Aarr=y_test[-begin:-end].astype('int').reshape(p.shape[0],1)
Parr=p_class.reshape(p.shape[0],1)
rsp=np.hstack((Aarr, Parr))
tot= np.column_stack((np.round(pr,5), rsp,))
print(tot,'\n')
#,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
w=0
l=0
for i ,e in tot[:,2:4]:
    if i==e:
       # print('WIN!')
        w=w+1
    else:
        #print('LOSE!')
        l=l+1
   # tot[:,4:][i] = i
print('lost:',l)
print('win:',w)
print('%WIN',(w/p.shape[0])*100 ,'%')
#lllllllllllllllllllllllll
print(dT)

In [ ]:
   OVER       UNDER        Actual results   Prediction 
[[ 0.50421     0.49579     1.          0.        ]
 [ 0.50560999  0.49439001  0.          0.        ]
 [ 0.49524999  0.50475001  1.          1.        ]
 [ 0.50623     0.49377     0.          0.        ]
 [ 0.50198001  0.49801999  1.          0.        ]
 [ 0.49296999  0.50703001  0.          1.        ]
 [ 0.49614999  0.50384998  0.          1.        ]
 [ 0.50591999  0.49408001  0.          0.        ]
 [ 0.49772999  0.50226998  0.          1.        ]
 [ 0.49528     0.50471997  1.          1.        ]] 

lost: 5
win: 5
%WIN 50.0 %
[['MADRID COPENHAGEN' 1.75 1.95 '2:1']
 ['OSLO EDINBURGH' 1.75 1.95 '2:0']
 ['EDINBURGH BERLIN' 1.75 1.95 '2:1']
 ['PARIS BERN' 1.8 1.9 '1:0']
 ['BERN STOCKHOLM' 1.8 1.9 '1:2']
 ['EDINBURGH AMSTERDAM' 1.75 2.0 '1:0']
 ['LONDON AMSTERDAM' 1.75 1.95 '1:1']
 ['LISBON EDINBURGH' 1.8 1.9 '2:0']
 ['MADRID LISBON' 1.75 1.95 '1:1']
 ['ATHENS ROME' 1.8 1.9 '0:3']]

In [ ]:
np.rint(1.23444.np.rint(2))

In [ ]:
np.clip(22,3,5)